header{
    background-image: url(images/fondo4_brush.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
}
.img-c{
    border-radius: 20%; 
    width: 100%;
    position: inherit;
    padding: 30px;
    align-items: center;
}
.btn-c1{
    background-color: #C1B9C6;
    color: #D7CDCC;
}
.card-1{
    box-shadow:1px 1px 5px grey ;
}

div .btn-c{
    align-items: center;
    background-color:rgb(135, 198, 198);
    }
div .btn-c:hover{
    background-color: bisque;
}

section div .img-3c{
    width: 80%;
    border-radius: 0 30 30 0;


}

.card-c{
    background-color: aqua;
}

.section-i{
    background-size: 100%;
    margin: 3;
}
.text-inv{
    text-shadow: 1px 1px 1px gray;
    color: rosybrown;
}
.text-3{
    color: gray;
}
.btn-2{
    background-color: rosybrown;
    color: black;
}
footer {
    height: auto;
    background-color: gray;
    background-size: cover;
    /* position: relative; */
}

.footer-item{
    color: darkgray;
    text-decoration: none;
    text-rendering: auto;
    /* position: inherit; */
}
.footer-item:hover{
    color: rosybrown;
    /* font-weight: bold;
    font-size: large; */
}
.tittle-f{
    color: rosybrown;
    font-weight: bold;

}
.rrss{
    color: #C1B9C6;
    margin: 5px;
    font-size: 30px;
}
.rrss:hover{
    text-shadow: 1px 1px 3px rosybrown;
    /* background-size: 2px; */


}